<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/head :: head"/>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Total Sales</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr th:each="customer : ${customers}">
                            <td th:text="${customer.name}"></td>
                            <td th:text="${customer.email}"></td>
                            <td th:text="${customer.phone}"></td>
                            <td th:text="${customer.totalSales}"></td>
                            <td>
                                <form th:action="@{/customers/{customerId}(customerId=${customer.id})}" method="get">
                                    <input type="submit" class="btn-link" value="Edit"/>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{/customers/{customerId}/delete(customerId=${customer.id})}" method="post">
                                    <input type="submit" class="btn-link" value="Delete"/>
                                </form>
                            </td>
                        </tr>
                    </table>

                    <a href="/customers/new">Add new customer</a>
                </div>
            </div>
        </div>
    </body>
</html>