<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/head :: head"/>
    <body>
        <div th:replace="fragments/header :: header"/>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="alert alert-info" role="alert">
                        Ooooops! Something goes wrong! Please contact system administrator!
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>